{% extends 'base.html' %}
 
{% block title %}模型配置{% endblock %}
 
{% block icon_title %} {% endblock %}

{% block head %} {% endblock %}

{% block body %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="0">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3" style="height: 500px">
                        <form class="form-horizontal" action="/add_LSTM/" method="post" name="addconfigure" role="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="base" class="col-sm-4 control-label">
                                    <p style="color:azure">基线</p>
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control " id="base" name="base">
                                        <option value="Agent_ID">Agent_ID</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="baseunit" class="col-sm-4 control-label">
                                    <p style="color:azure">基线单位</p>
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="baseunit" name="baseunit" onchange="baseunit_select();">
                                        <option value="all">整体</option>
                                        <option value="single">个体</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="line_show" style="display: none">
                                <label for="line" class="col-sm-4 control-label">
                                    <p style="color:azure">基线值</p>
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control" placeholder="基线值" type="text" id="line" name="line">
                                    </select>
                                </div>
                            </div>
                            <div>
                                <label for="" class="col-sm-4 control-label">
                                    <p style="color:azure">训练字段</p>
                                </label>
                                <div class="col-sm-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="act_time" id="check_box_list1" name="check_box_list" checked="checked">
                                            <p style="color:azure">act_time</p>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="act_path" id="check_box_list2" name="check_box_list">
                                            <p style="color:azure">act_path</p>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="app_path" id="check_box_list3" name="check_box_list">
                                            <p style="color:azure">app_path</p>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="app_name" id="check_box_list4" name="check_box_list" checked="checked">
                                            <p style="color:azure">app_name</p>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="insert_time" id="check_box_list5" name="check_box_list">
                                            <p style="color:azure">insert_time</p>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="os_username" id="check_box_list6" name="check_box_list">
                                            <p style="color:azure">os_username</p>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="model" class="col-sm-4 control-label">
                                    <p style="color:azure">模型编号</p>
                                </label>
                                <div class="col-sm-8">
                                    <input class="form-control" placeholder="模型编号" type="text" id="model" name="model">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-5">
                                    <input type="reset" class="btn btn-success">
                                </div>
                                <div class="col-sm-5">
                                    <input type="submit" class="btn btn-primary" id="btn" value="新建模型">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3" style="height: 500px">
                        <form class="form-horizontal" action="/add_Ralation/" method="post" name="addconfigureRelation" role="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="relation_type" class="col-sm-4 control-label">
                                    <p style="color:azure">类型</p>
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control " id="relation_type" name="relation_type" onchange='fptype_select();'>
                                        <option value="PeoplePeople">人与人</option>
                                        <option value="OperationOperation">操作与操作</option>
                                        <option value="PeopleOperation">人与操作</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id='username_show' style="display: none">
                                <label for="user_name" class="col-sm-4 control-label">
                                    <p style="color:azure">用户名</p>
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control " id="user_name" name="user_name">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="min_support" class="col-sm-4 control-label">
                                    <p style="color:azure">MinSupport</p>
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="min_support" name="min_support">
                                        <option value="0.2">0.2</option>
                                        <option value="0.3">0.3</option>
                                        <option value="0.4">0.4</option>
                                        <option value="0.5">0.5</option>
                                        <option selected="selected" value="0.6">0.6</option>
                                        <option value="0.7">0.7</option>
                                        <option value="0.8">0.8</option>
                                        <option value="0.9">0.9</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="min_confidence" class="col-sm-4 control-label">
                                    <p style="color:azure">MinConfidence</p>
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="min_confidence" name="min_confidence">
                                        <option value="0.2">0.2</option>
                                        <option value="0.3">0.3</option>
                                        <option value="0.4">0.4</option>
                                        <option value="0.5">0.5</option>
                                        <option selected="selected" value="0.6">0.6</option>
                                        <option value="0.7">0.7</option>
                                        <option value="0.8">0.8</option>
                                        <option value="0.9">0.9</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="model2" class="col-sm-4 control-label">
                                    <p style="color:azure">模型编号</p>
                                </label>
                                <div class="col-sm-8">
                                    <input class="form-control" placeholder="模型编号" type="text" id="model2" name="model2">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-5">
                                    <input type="reset" class="btn btn-success">
                                </div>
                                <div class="col-sm-5">
                                    <input type="submit" class="btn btn-primary" id="btn2" value="新建模型">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% endblock %}

{% block script %}
<script>
    function load_agent() {
        $.getJSON("/load_agent/", function (ret) {
            if (ret.agent.length == 0) {
                return;
            }
            $('#line').empty();
            $('#user_name').empty();
            for (var i = 0; i < ret.agent.length; i++) {
                $('#line').append('<option value="' + ret.agent[i][0] + '">' + ret.agent[i][0] + '</option>');
                $('#user_name').append('<option value="' + ret.agent[i][0] + '">' + ret.agent[i][0] + '</option>');
            };
        });
    };
    function baseunit_select() {
        if ($('#baseunit').val() == 'single') {
            load_agent();
            $('#line_show').show();
        }
        if ($('#baseunit').val() == 'all') {
            $('#line_show').hide();
        }
    };
    function fptype_select() {
        if ($('#relation_type').val() == 'PeopleOperation') {
            load_agent();
            $('#username_show').show();
        }
        if ($('#relation_type').val() == 'OperationOperation') {
            $('#username_show').hide();
        }
        if ($('#relation_type').val() == 'PeoplePeople') {
            $('#username_show').hide();
        }
    };
    $("#btn").click(function () {
        var algorithm = 'lstm';
        var type = $("#baseunit").val();
        var model_name;
        if(type == 'single')
            model_name = 'NN' + '_' + $("#line").val() + '_' + $("#model").val() + '_S_N';
        else if(type == 'single')
            model_name = 'NN' + '_' + $("#line").val() + '_' + $("#model").val() + '_A_N';

        model_name = model_name.replace('-','');

        var obj = {
            'algorithm': algorithm,
            'type': type,
            'model_name': model_name
        };

        // var groupCheckbox = $("input[name='check_box_list']");
        // for (i = 0; i < groupCheckbox.length; i++) {
        //     if (groupCheckbox[i].checked) {
        //         var val = groupCheckbox[i].value;
        //         host = host + val + " ";
        //     }
        // }

        localStorage.setItem('uid', JSON.stringify(obj));
    })

    $("#btn2").click(function () {
        var algorithm = 'fpgrowth';
        var type, username;
        switch ($("#relation_type").val()) {
            case 'PeopleOperation':
                type = 'PO';
                username = $("#user_name").val();
                break;
            case 'OperationOperation':
                type = 'OO';
                username = '';
                break;
            case 'PeoplePeople':
                type = 'PP';
                username = '';
        }
        if(username){
            var model_name = type + '_' + username + '_' + $("#model2").val();
        }else{
            var model_name = type + '_' + $("#model2").val();
        }
        model_name = model_name.replace('-','');

        var obj = {
            'algorithm': algorithm,
            'type': type,
            'model_name': model_name
        };

        localStorage.setItem('uid', JSON.stringify(obj));
    })		
</script>
{% endblock %}
