{% extends 'base.html' %} {% block title %}历史数据分析{% endblock %} {% block icon_title %} {% endblock %} {% block head %}
<button id="hide_bt" class="btn btn-default navbar-btn" style="display: none;">
	{{model}}
</button>
{% endblock %} {% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">
			<select class="form-control" id="ab" onchange="ab_select();">
				<option value="all">全部数据</option>
				<option value="0">正常数据</option>
				<option value="1">异常数据</option>
			</select>
		</div>
		<div class="col-md-11">
			<div style="height: 750px;">
				<table class="table table-condensed" id="result_table" style="color:azure; font-size: 100%;">
					<thead id="result_table_head"></thead>
					<tbody id="result_table_body"></tbody>
				</table>
			</div>
			<nav aria-label="Page navigation" style="margin-left: auto; margin-right: auto; width:650px">
				<ul class="pagination" id='Paginator'></ul>
			</nav>
		</div>
	</div>
</div>
{% endblock %} {% block script %}
<script>
	var num_data = 22;
	$(document).ready(function () {
		model = $("#hide_bt").text();
		model = model.slice(2, -1);
		$.getJSON('/analyse_lstm_g/', { 'model': model, 'chart': 0, 'page': 1, 'size': num_data, 'ab': 'all' }, function (ret) {
			if (ret == null) return;
			option1.title.text = model;
			option1.series[0].data = ret.bar;
			myChart1.setOption(option1);
			option2.title.text = model;
			option2.series[0].data = ret.scatter;
			myChart2.setOption(option2);
			$('#result_table_head').empty();
			$('#result_table_body').empty();
			var thead_str = "<tr>";
			for (var i = 0; i < ret.head.length; i++) {
				thead_str += ('<th>' + ret.head[i] + '</th>');
			};
			thead_str += ('<th>Num</th>');
			thead_str += "</tr>";
			$('#result_table_head').append(thead_str);

			for (var i = 0; i < ret.body.length; i++) {
				var tbody_str = "<tr>";
				for (var j = 0; j < ret.body[i].length; j++) {
					tbody_str += ('<td>' + ret.body[i][j] + '</td>');
				};
				tbody_str += "</tr>";
				$('#result_table_body').append(tbody_str);
			};
			$('#Paginator').jqPaginator({
				totalCounts: parseInt(ret.total),
				pageSize: num_data,
				visiblePages: 10,
				currentPage: 1,
				onPageChange: function (num, type) {
					if (type == "change") {
						$.getJSON("/analyse_lstm_g/", { 'model': model, 'chart': 0, 'page': num, 'size': num_data, 'ab': 'all' }, function (ret) {
							if (ret == null) return;
							$('#result_table_body').empty();
							var tbody_str = '<tr>';
							for (var i = 0; i < ret.body.length; i++) {
								var tbody_str = "<tr>";
								for (var j = 0; j < ret.body[i].length; j++) {
									tbody_str += ('<td>' + ret.body[i][j] + '</td>');
								};
								tbody_str += "</tr>";
								$('#result_table_body').append(tbody_str);
							};
						});
					}
				}
			});
			return;
		})
	});
	function ab_select() {
		model = $("#hide_bt").text();
		model = model.slice(2, -1);
		ab = $("#ab").val();
		$.getJSON('/analyse_lstm_g/', { 'model': model, 'chart': 0, 'page': 1, 'size': num_data, 'ab': ab }, function (ret) {
			if (!ret) return;
			$('#result_table_body').empty();
			for (var i = 0; i < ret.body.length; i++) {
				var tbody_str = "<tr>";
				for (var j = 0; j < ret.body[i].length; j++) {
					tbody_str += ('<td>' + ret.body[i][j] + '</td>');
				};
				tbody_str += "</tr>";
				$('#result_table_body').append(tbody_str);
			};
			$('#Paginator').jqPaginator({
				totalCounts: parseInt(ret.total),
				pageSize: num_data,
				visiblePages: 10,
				currentPage: 1,
				onPageChange: function (num, type) {
					if (type == "change") {
						$.getJSON("/analyse_lstm_g/", { 'model': model, 'chart': 0, 'page': num, 'size': num_data, 'ab': ab }, function (ret) {
							if (!ret) return;
							$('#result_table_body').empty();
							var tbody_str = '<tr>';
							for (var i = 0; i < ret.body.length; i++) {
								var tbody_str = "<tr>";
								for (var j = 0; j < ret.body[i].length; j++) {
									tbody_str += ('<td>' + ret.body[i][j] + '</td>');
								};
								tbody_str += "</tr>";
								$('#result_table_body').append(tbody_str);
							};
						});
					}
				}
			});
			return;
		})
	};
</script> {% endblock %}