{% extends 'base.html' %}
 
{% block title %}历史数据分析{% endblock %}
 
{% block icon_title %} {% endblock %}

{% block head %} 
<button id="hide_bt" class="btn btn-default navbar-btn" style="display: none;">
	{{model}}
</button>
<div class="nav navbar-nav navbar-right">
	<a href="/analyse_OO/?model=OO_20180314&chart=-1">
		<button class="btn btn-default navbar-btn">
			操作与操作
		</button>
	</a>
	<a href="/analyse_PP/?model=PP_20180314&chart=-1">
		<button class="btn btn-default navbar-btn">
			人 与 人
		</button>
	</a>
</div>
{% endblock %}

{% block body %}
<div id="info_chart1" style="position: absolute; left: 20px; top: 120px; z-index: 1; height: 400px; width: 400px"></div>
<div id="info_chart2" style="position: absolute; left: 20px; top: 500px; z-index: 1; height: 400px; width: 400px"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3" style="height: 400px;">
			<div class="col-sm-12">
				<button class="btn btn-info" onclick="chart_toggle();">
					显示/隐藏图表
				</button>
			</div>
		</div>

		<div class="col-md-9">
			<table class="table table-condensed" id="result_table" style="height: 750px; color:azure">
				<thead id="result_table_head"></thead>
				<tbody id="result_table_body"></tbody>
			</table>
			<nav aria-label="Page navigation" style="margin-left: auto; margin-right: auto; width:650px">
				<ul class="pagination" id='Paginator'></ul>
			</nav>
		</div>
	</div>
</div>
{% endblock %}

{% block script %} 
<script>
	var myChart1 = echarts.init(document.getElementById('info_chart1'));
	option1 = {
		title: {
			text: "No Data",
			left: 'center',
			top: '0%',
			textStyle: {
				color: '#F0FFFF'
			}
		},
		xAxis: {
			type: 'category',
			nameTextStyle: {
				color: '#F0FFFF'
			},
			axisLine: {
				lineStyle: {
					color: '#F0FFFF'
				}
			},
			axisTick: {
				lineStyle: {
					color: '#F0FFFF'
				}
			},
			data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'
			]
		},
		yAxis: {
			type: 'value',
			nameTextStyle: {
				color: '#F0FFFF'
			},
			axisLine: {
				lineStyle: {
					color: '#F0FFFF'
				}
			},
			axisTick: {
				lineStyle: {
					color: '#F0FFFF'
				}
			}
		},
		series: [{
			data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
			type: 'bar',
			itemStyle: {
				normal: {
					color: '#91c7ae'
				}
			}
		}]
	};
	myChart1.setOption(option1);

	var myChart2 = echarts.init(document.getElementById('info_chart2'));
	option2 = {
		title: {
			text: "No Data",
			left: 'center',
			top: '0%',
			textStyle: {
				color: '#F0FFFF'
			}
		},
		xAxis: {
			type: 'category',
			nameTextStyle: {
				color: '#F0FFFF'
			},
			axisLine: {
				lineStyle: {
					color: '#F0FFFF'
				}
			},
			axisTick: {
				lineStyle: {
					color: '#F0FFFF'
				}
			},
			axisLabel: {
				rotate: 45
			},
			data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'
			]
		},
		yAxis: {
			type: 'value',
			nameTextStyle: {
				color: '#F0FFFF'
			},
			axisLine: {
				lineStyle: {
					color: '#F0FFFF'
				}
			},
			axisTick: {
				lineStyle: {
					color: '#F0FFFF'
				}
			}
		},
		series: [{
			data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
			type: 'bar',
			itemStyle: {
				normal: {
					color: '#91c7ae'
				}
			}
		}]
	};
	myChart2.setOption(option2);

	function chart_toggle() {
		$('#info_chart1').animate({
			width: 'toggle'
		})
		$('#info_chart2').animate({
			width: 'toggle'
		})
	}

	$(document).ready(function () {
		model = $("#hide_bt").text();
		model = model.slice(2, -1);
		$.getJSON('/analyse_OO/', { 'model': model, 'chart': 1, 'page': 1, 'size': 15 }, function (ret) {
			if(!ret) return;
			option1.title.text = "操作与操作关联度分布";
			option1.xAxis.data = ret.bar1_xdata;
			option1.series[0].data = ret.bar1_ydata;
			myChart1.setOption(option1);
			option2.title.text = "操作与操作关联占比";
			option2.xAxis.data = ret.bar2_xdata;
			option2.series[0].data = ret.bar2_ydata;
			myChart2.setOption(option2);
			$('#result_table_head').empty();
			$('#result_table_body').empty();
			var thead_str = "<tr>";
			for (var i = 0; i < ret.head.length; i++) {
				thead_str += ('<th>' + ret.head[i] + '</th>');
			};
			thead_str += ('<th>Num</th>');
			thead_str += "</tr>";
			$('#result_table_head').append(thead_str);

			for (var i = 0; i < ret.body.length; i++) {
				var tbody_str = "<tr>";
				for (var j = 0; j < ret.body[i].length; j++) {
					tbody_str += ('<td>' + ret.body[i][j] + '</td>');
				};
				tbody_str += "</tr>";
				$('#result_table_body').append(tbody_str);
			};
			$('#Paginator').jqPaginator({
				totalCounts: parseInt(ret.total),
				pageSize: 15,
				visiblePages: 10,
				currentPage: 1,
				onPageChange: function (num, type) {
					if (type == "change") {
						$.getJSON("/analyse_OO/", { 'model': model, 'chart': 0, 'page': num, 'size': 15 }, function (ret) {
							if(!ret) return;
							$('#result_table_body').empty();
							var tbody_str = '<tr>';
							for (var i = 0; i < ret.body.length; i++) {
								var tbody_str = "<tr>";
								for (var j = 0; j < ret.body[i].length; j++) {
									tbody_str += ('<td>' + ret.body[i][j] + '</td>');
								};
								tbody_str += "</tr>";
								$('#result_table_body').append(tbody_str);
							};
						});
					}
				}
			});
			return;
		})
	});
</script>
{% endblock %}
