{% extends 'base.html' %} {% block title %}历史数据分析{% endblock %} {% block icon_title %} {% endblock %} {% block head %} 
<button id="bt_model" class="btn btn-default navbar-btn" style="display: none;">
	{{model}}
</button>
{%endblock %} {% block body %}
<div id="info_chart1" style="position: absolute; left: 20px; top: 120px; z-index: 1; height: 500px; width: 500px"></div>
<!-- <div id="info_chart2" style="position: absolute; left: 20px; top: 500px; z-index: 1; height: 400px; width: 400px"></div> -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4" style="height: 400px;">
			<div class="col-sm-4">
				<button class="btn btn-info" onclick="chart_toggle();">
					显示/隐藏图表
				</button>
			</div>
		</div>

		<div class="col-md-8">
			<div style="height: 750px;">
				<table class="table table-condensed" id="result_table" style="color:azure; font-size: 100%;">
					<thead id="result_table_head"></thead>
					<tbody id="result_table_body"></tbody>
				</table>
			</div>
			<nav aria-label="Page navigation" style="margin-left: auto; margin-right: auto; width:650px">
				<ul class="pagination" id='Paginator'></ul>
			</nav>
		</div>
	</div>
</div>
{% endblock %} {% block script %}
<script>
	var num_data = 22;
	var myChart1 = echarts.init(document.getElementById('info_chart1'));
	option1 = {
		title: {
			text: '',
			left: 'center',
			top: '5%',
			textStyle: {
				color: '#F0FFFF'
			}
		},
		tooltip: {
			trigger: 'axis'
		},
		grid: {
			left: '3%',
			right: '4%',
			bottom: '3%',
			containLabel: true
		},
		xAxis: {
			type: 'category',
			boundaryGap: false,
			nameTextStyle: {
				color: '#F0FFFF'
			},
			axisLine: {
				lineStyle: {
					color: '#F0FFFF'
				}
			},
			axisTick: {
				lineStyle: {
					color: '#F0FFFF'
				}
			},
			data: ['一', '二', '三', '四', '五']
		},
		yAxis: {
			type: 'value',
			nameTextStyle: {
				color: '#F0FFFF'
			},
			axisLine: {
				lineStyle: {
					color: '#F0FFFF'
				}
			},
			axisTick: {
				lineStyle: {
					color: '#F0FFFF'
				}
			}
		},
		series: []
	};
	myChart1.setOption(option1);

	// var myChart2 = echarts.init(document.getElementById('info_chart2'));
	// option2 = {
	// 	title: {
	// 		text: "No Data",
	// 		left: 'center',
	// 		top: '5%',
	// 		textStyle: {
	// 			color: '#F0FFFF'
	// 		}
	// 	},
	// 	xAxis: {
	// 		nameTextStyle: {
	// 			color: '#F0FFFF'
	// 		},
	// 		axisLine: {
	// 			lineStyle: {
	// 				color: '#F0FFFF'
	// 			}
	// 		},
	// 		axisTick: {
	// 			lineStyle: {
	// 				color: '#F0FFFF'
	// 			}
	// 		}
	// 	},
	// 	yAxis: {
	// 		nameTextStyle: {
	// 			color: '#F0FFFF'
	// 		},
	// 		axisLine: {
	// 			lineStyle: {
	// 				color: '#F0FFFF'
	// 			}
	// 		},
	// 		axisTick: {
	// 			lineStyle: {
	// 				color: '#F0FFFF'
	// 			}
	// 		}
	// 	},
	// 	series: [{
	// 		symbolSize: 4,
	// 		data: [],
	// 		type: 'scatter',
	// 		itemStyle: {
	// 			normal: {
	// 				color: '#91c7ae'
	// 			}
	// 		}
	// 	}]
	// };
	// myChart2.setOption(option2);

	function chart_toggle() {
		$('#info_chart1').animate({
			width: 'toggle'
		})
		// $('#info_chart2').animate({
		// 	width: 'toggle'
		// })
	}

	$(document).ready(function () {
		model = $("#bt_model").text();
		model = model.slice(2, -1);
		$.getJSON('/analyse_lstm_g_all/', {
			'model': model,
			'chart': 1,
			'page': 1,
			'size': num_data
		}, function (ret) {
			if (ret == null) return;
			option1.title.text = model;
			option1.series = ret.line_data;
			myChart1.setOption(option1);
			$('#result_table_head').empty();
			$('#result_table_body').empty();
			var thead_str = "<tr>";
			for (var i = 0; i < ret.head.length; i++) {
				thead_str += ('<th>' + ret.head[i] + '</th>');
			};
			// thead_str += ('<th>Num</th>');
			thead_str += "</tr>";
			$('#result_table_head').append(thead_str);

			for (var i = 0; i < ret.body.length; i++) {
				var tbody_str = "<tr>";
				for (var j = 0; j < ret.body[i].length - 1; j++) {
					tbody_str += ('<td>' + ret.body[i][j] + '</td>');
				};
				tbody_str += "</tr>";
				$('#result_table_body').append(tbody_str);
			};
			$('#Paginator').jqPaginator({
				totalCounts: parseInt(ret.total),
				pageSize: num_data,
				visiblePages: 10,
				currentPage: 1,
				onPageChange: function (num, type) {
					if (type == "change") {
						$.getJSON("/analyse_lstm_g_all/", {
							'model': model,
							'chart': 0,
							'page': num,
							'size': num_data
						}, function (ret) {
							if (ret == null) return;
							$('#result_table_body').empty();
							var tbody_str = '<tr>';
							for (var i = 0; i < ret.body.length; i++) {
								var tbody_str = "<tr>";
								for (var j = 0; j < ret.body[i].length - 1; j++) {
									tbody_str += ('<td>' + ret.body[i][j] + '</td>');
								};
								tbody_str += "</tr>";
								$('#result_table_body').append(tbody_str);
							};
						});
					}
				}
			});
			return;
		})
	});
</script> {% endblock %}