<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>模型配置</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous">
        </script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body style="background-image:url('../static/img/bg_galaxy.jpg');">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                </a>
                <p class="navbar-text">模型配置</p>
            </div>
            <a href="/main">
                <button class="btn btn-default navbar-btn">
                    首页
                </button>
            </a>
            <a href="/single">
                <button class="btn btn-default navbar-btn">
                    个体异常
                </button>
            </a>
            <a href="/relation">
                <button class="btn btn-default navbar-btn">
                    关联分析
                </button>
            </a>
            <a href="/history">
                <button class="btn btn-default navbar-btn">
                    历史数据
                </button>
            </a>
        </div>
    </nav>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="0">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3" style="height: 500px">
                            <form class="form-horizontal" action="/addconfiguretodatabase/" method="post" name="addconfigure" role="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="base" class="col-sm-4 control-label">
                                        <p style="color:azure">基线</p>
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control " id="base" name="base">
                                            <option value="Agent_ID">Agent_ID</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="line" class="col-sm-4 control-label">
                                        <p style="color:azure">基线值</p>
                                    </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" placeholder="基线值" type="text" id="line" name="line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="baseunit" class="col-sm-4 control-label">
                                        <p style="color:azure">基线单位</p>
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="baseunit" name="baseunit">
                                            <option value="single">个体</option>
                                            <option value="all">整体</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <label for="" class="col-sm-4 control-label">
                                        <p style="color:azure">训练字段</p>
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="act_time" id="check_box_list1" name="check_box_list">
                                                <p style="color:azure">act_time</p>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="act_path" id="check_box_list2" name="check_box_list">
                                                <p style="color:azure">act_path</p>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="app_path" id="check_box_list3" name="check_box_list">
                                                <p style="color:azure">app_path</p>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="app_name" id="check_box_list4" name="check_box_list">
                                                <p style="color:azure">app_name</p>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="insert_time" id="check_box_list5" name="check_box_list">
                                                <p style="color:azure">insert_time</p>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="os_username" id="check_box_list6" name="check_box_list">
                                                <p style="color:azure">os_username</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="model" class="col-sm-4 control-label">
                                        <p style="color:azure">模型编号</p>
                                    </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" placeholder="模型编号" type="text" id="model" name="model">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 col-sm-offset-5">
                                        <input type="reset" class="btn btn-success">
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="submit" class="btn btn-primary" id="btn" value="新建模型">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-5 col-md-offset-4">
                            <div class="progress" style="display: block;">
                                <div class="progress-bar" role="progressbar" style="width: 60%;">
                                  60%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3"  style="height: 500px">
                            <form class="form-horizontal" action="/addconfiguretodatabaseRelation/" method="post" name="addconfigureRelation" role="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="relation_type" class="col-sm-4 control-label">
                                        <p style="color:azure">类型</p>
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control " id="relation_type" name="relation_type">
                                            <option value="PeopleOperation">人与操作</option>
                                            <option value="OperationOperation">操作与操作</option>
                                            <option value="PeoplePeople">人与人</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="user_name" class="col-sm-4 control-label">
                                        <p style="color:azure">用户名</p>
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control " id="user_name" name="user_name">
                                            <option value="Agent_ID">Agent_ID</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="min_support" class="col-sm-4 control-label">
                                        <p style="color:azure">MinSupport</p>
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="min_support" name="min_support">
                                            <option value="0.2">0.2</option>
                                            <option value="0.3">0.3</option>
                                            <option value="0.4">0.4</option>
                                            <option value="0.5">0.5</option>
                                            <option selected="selected" value="0.6">0.6</option>
                                            <option value="0.7">0.7</option>
                                            <option value="0.8">0.8</option>
                                            <option value="0.9">0.9</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="min_confidence" class="col-sm-4 control-label">
                                        <p style="color:azure">MinConfidence</p>
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="min_confidence" name="min_confidence">
                                            <option value="0.2">0.2</option>
                                            <option value="0.3">0.3</option>
                                            <option value="0.4">0.4</option>
                                            <option value="0.5">0.5</option>
                                            <option selected="selected" value="0.6">0.6</option>
                                            <option value="0.7">0.7</option>
                                            <option value="0.8">0.8</option>
                                            <option value="0.9">0.9</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="model2" class="col-sm-4 control-label">
                                        <p style="color:azure">模型编号</p>
                                    </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" placeholder="模型编号" type="text" id="model2" name="model2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 col-sm-offset-5">
                                        <input type="reset" class="btn btn-success">
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="submit" class="btn btn-primary" id="btn2" value="新建模型">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-5 col-md-offset-4">
                            <div class="progress" style="display: block;">
                                <div class="progress-bar" role="progressbar" style="width: 60%;">
                                  60%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <script>
        $("#btn").click(function () {
            var host ="lstm"+ "\r\n" + $("#model").val() + "\r\n" + $("#base").val() + "\r\n" + $("#line").val() + "\r\n";
            var groupCheckbox = $("input[name='check_box_list']");
            for (i = 0; i < groupCheckbox.length; i++) {
                if (groupCheckbox[i].checked) {
                    var val = groupCheckbox[i].value;
                    host = host + val + " ";
                }
            }
            host = host + "\r\n" + $("#baseunit").val();
            //alert(host);
            localStorage.setItem('uid', host);
        })

		$("#btn2").click(function () {
            var host2 ="relation"+ "\r\n" + $("#relation_type").val() + "\r\n" + $("#user_name").val() + "\r\n" + $("#min_support").val() + "\r\n" + $("#min_confidence").val() + "\r\n" + $("#model2").val();         
            localStorage.setItem('re', host2);
			alert(localStorage.getItem('re'));
        })		
    </script>
</body>

</html>