{% extends 'base.html' %}
 
{% block title %}历史数据查询{% endblock %}
 
{% block icon_title %} {% endblock %}

{% block head %} {% endblock %}

{% block body %}
<div id="info_chart" style="position: absolute; left: 0px; top: 450px; z-index: 1; height: 400px; width: 400px"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2" style="height: 400px;">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="model_type" class="col-sm-4 control-label">
						<p style="color:azure">模型类型</p>
					</label>
					<div class="col-sm-8">
						<select class="form-control" id="model_type" onchange="type_select();">
							<option value="MODEL_PARAMETER">异常检测</option>
							<option value="FPGROWTH_PARAMETER">关联分析</option>
						</select>
					</div>
				</div>
			</form>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="baseline" class="col-sm-4 control-label">
						<p style="color:azure">基线模式</p>
					</label>
					<div class="col-sm-8">
						<select class="form-control" id="baseline" onchange="load_model();">
							<option value="single">个体异常</option>
							<option value="all">整体异常</option>
						</select>
					</div>
				</div>
			</form>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="model_selector" class="col-sm-4 control-label">
						<p style="color:azure">模型</p>
					</label>
					<div class="col-sm-8">
						<select class="form-control" id="model_selector"></select>
					</div>
				</div>
			</form>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="start_date" class="col-sm-4 control-label">
						<p style="color:azure">起始日期</p>
					</label>
					<div class="col-sm-8">
						<input type="date" class="form-control" id="start_date"></input>
					</div>
				</div>
			</form>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="end_date" class="col-sm-4 control-label">
						<p style="color:azure">截止日期</p>
					</label>
					<div class="col-sm-8">
						<input type="date" class="form-control" id="end_date"></input>
					</div>
				</div>
			</form>
			<div class="col-sm-offset-2 col-sm-4">
			</div>
			<div class="col-sm-6">
				<button class="btn btn-primary" onclick="search();">
					Search
				</button>
			</div>
		</div>

		<div class="col-md-10">
			<table class="table table-condensed" id="result_table" style="height: 750px; color:azure">
				<thead id="result_table_head"></thead>
				<tbody id="result_table_body"></tbody>
			</table>
			<nav aria-label="Page navigation" style="margin-left: auto; margin-right: auto; width:650px">
				<ul class="pagination" id='Paginator'></ul>
			</nav>
		</div>
	</div>
</div>
{% endblock %}

{% block script %} 
<script>

	$(function () {
		function addzero(num) {
			if (num > 0 && num < 10) {
				return '0' + num;
			}
			return num;
		}
		var now_time = new Date;
		var now_time_str = [now_time.getFullYear(), addzero(now_time.getMonth() + 1), addzero(now_time.getDate())].join('-');
		now_time.setMonth(now_time.getMonth() - 1);
		var one_month_before = [now_time.getFullYear(), addzero(now_time.getMonth() + 1), addzero(now_time.getDate())].join('-');
		$('#start_date').attr('value', one_month_before);
		$('#end_date').attr('value', now_time_str);
	});

	function type_select() {
		if ($('#model_type').val() == 'MODEL_PARAMETER') {
			$('#baseline').empty();
			$('#baseline').append('<option value="all">整体异常</option>');
			$('#baseline').append('<option value="single">个体异常</option>');
		}
		if ($('#model_type').val() == 'FPGROWTH_PARAMETER') {
			$('#baseline').empty();
			$('#baseline').append('<option value="PP">人与人</option>');
			$('#baseline').append('<option value="OO">操作与操作</option>');
			$('#baseline').append('<option value="PO">人与操作</option>');
		}
	};

	function load_model() {
		var model_type = $('#model_type').val();
		var baseline = $('#baseline').val();
		$.getJSON("/load_model/", { 'model_type': model_type, 'baseline': baseline, 'page': 1, 'size': 15 }, function (ret) {
			if (!ret) return;
			$('#model_selector').empty();
			$('#result_table_head').empty();
			$('#result_table_body').empty();
			var thead_str = '<tr>';
			for (var i = 0; i < ret.head.length; i++) {
				thead_str += ('<th>' + ret.head[i] + '</th>');
			};
			thead_str += ('<th>NUM</th>');
			thead_str += '</tr>';
			$('#result_table_head').append(thead_str);

			for (var i = 0; i < ret.body.length; i++) {
				$('#model_selector').append('<option value="' + ret.body[i][0] + '">' + ret.body[i][0] + '</option>');
				tbody_str = '<tr>';
				for (var j = 0; j < ret.body[i].length; j++) {
					tbody_str += ('<td>' + ret.body[i][j] + '</td>');
				};
				tbody_str += '</tr>';
				$('#result_table_body').append(tbody_str);
			};
			$('#Paginator').jqPaginator({
				totalCounts: parseInt(ret.total),
				pageSize: 15,
				visiblePages: 10,
				currentPage: 1,
				onPageChange: function (num, type) {
					if (type == "change") {
						$.getJSON("/load_model/", {
							'model_type': model_type,
							'baseline': baseline,
							'page': num,
							'size': 15
						}, function (ret) {
							if (!ret) return;
							$('#result_table_body').empty();

							for (var i = 0; i < ret.body.length; i++) {
								tbody_str = '<tr>';
								for (var j = 0; j < ret.body[i].length; j++) {
									tbody_str += ('<td>' + ret.body[i][j] + '</td>');
								};
								tbody_str += '</tr>';
								$('#result_table_body').append(tbody_str);
							};
						});
					}
				}
			});
		});
	};

	function search() {
		var model_type = $('#model_type').val();
		var model = $('#model_selector').val();
		var start_date = $('#start_date').val();
		var end_date = $('#end_date').val();
		$.getJSON("/search/", {
			'model_type': model_type,
			'model': model,
			'start_date': start_date,
			'end_date': end_date,
			'page': 1,
			'size': 15
		}, function (ret) {
			if (!ret) return;
			$('#result_table_head').empty();
			$('#result_table_body').empty();
			var thead_str = "<tr>";
			for (var i = 0; i < ret.head.length; i++) {
				thead_str += ('<th>' + ret.head[i] + '</th>');
			};
			thead_str += ('<th>NUM</th>');
			thead_str += "</tr>";
			$('#result_table_head').append(thead_str);

			for (var i = 0; i < ret.body.length; i++) {
				var tbody_str = "<tr>";
				for (var j = 0; j < ret.body[i].length; j++) {
					tbody_str += ('<td>' + ret.body[i][j] + '</td>');
				};
				tbody_str += "</tr>";
				$('#result_table_body').append(tbody_str);
			};
			$('#Paginator').jqPaginator({
				totalCounts: parseInt(ret.total),
				pageSize: 15,
				visiblePages: 10,
				currentPage: 1,
				onPageChange: function (num, type) {
					if (type == "change") {
						model = $('#model_selector').val();
						$.getJSON("/search/", {
							'model_type': model_type,
							'model': model,
							'start_date': start_date,
							'end_date': end_date,
							'page': num,
							'size': 15
						}, function (ret) {
							if (!ret) return;
							$('#result_table_body').empty();
							var tbody_str = '<tr>';
							for (var i = 0; i < ret.body.length; i++) {
								var tbody_str = "<tr>";
								for (var j = 0; j < ret.body[i].length; j++) {
									tbody_str += ('<td>' + ret.body[i][j] + '</td>');
								};
								tbody_str += "</tr>";
								$('#result_table_body').append(tbody_str);
							};
						});
					}
				}
			});
		});
	};
</script>
{% endblock %}
