<!DOCTYPE html>
<html style="width: 100%; height: 100%;">

<head>
	<meta charset="utf-8">
	<title>{{ model }}</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.common.min.js"></script>
	<script src="../static/js/three.min.js"></script>
	<script src="../static/js/CanvasRenderer.js"></script>
	<script src="../static/js/Detector.js"></script>
	<script src="../static/js/stats.min.js"></script>
	<script src="../static/js/OrbitControls.min.js"></script>
</head>
<script>	
	var socket;
	var host;
	var a = new Array(), b, i = 0;
	var low_threshold = 1, high_threshold = 9;//记录上下阈值，后期由传过来的数据决定
	var abnormal_count = 0, ratio = 0;//记录异常记录数目

	function connect() {
		var host = "ws://192.168.1.44:3368/ws";
		socket = new WebSocket(host);
		model = $("title").text();
		// model = model.slice(2, -1);
		localStorage.setItem('datasource', model);//保存数据源
		obj = {
			'algorithm': 'start',
			'type': 'guard',
			'model_name': model
		}
		try {
			socket.onopen = function (msg) {
				socket.send(JSON.stringify(obj));
			};
			socket.onmessage = function (msg) {
				if (typeof msg.data == "string") {
					displayContent(msg.data);
					//i++;
				}
			};
			socket.onclose = function (msg) {

			};
		}
		catch (ex) {
			log(ex);
		}
	}

	window.onbeforeunload = function () {
		try {
			socket.close();
			socket = null;
		}
		catch (ex) {

		}
	};

	function displayContent(msg) {
		a.push(msg);
		b = a.pop();
		console.log(b);
		var agent = ['WD-WCASZ0627345', 'S2A58BGQ', '5VM45975', 'Z1D3XB0A', 'Z4YAZWRB',
        'Z4YAZVXM', 'Z4YAZW4W', 'Z4YAZVV4', '537TT03OT', '6VY152TL',
        'Z4YAZTEF', 'Z4YAZTKF'];
		var attack = ['normal.', 'nmap.', 'smurf.', 'neptune.', 'guess_password.', 'buffer_overflow.', 'portsweep.', 'land.',
		'back.', 'loadmodule.', 'perl.', 'pod.', 'teardrop.', 'ipsweep', 'ftp_write', 'imap.',
	'satan', 'phf.', 'multihop', 'warezmaster'];
		var obj = JSON.parse(b);
		var data = obj.data;
		var type = obj.type;
		var description = obj.description;
		localStorage.setItem('descriptions', description);
		if (type == "guard_realtime") {
			i++;//数据编号+1
			var item = obj.data.item;
			var time = obj.data.time;
			var number = obj.data.number;
			var output = obj.data.output;
			var datasource = obj.data.modelname;//获取数据源

			localStorage.setItem('item', item);
			localStorage.setItem('time', time);
			localStorage.setItem('number', number);
			localStorage.setItem('output', output);
			localStorage.setItem('number_guard', i);//数据编号

			if(datasource=="test")  {
				localStorage.setItem('current_user', 20);
				for(k=0;k<12;k++)  {
					if(output==agent[k]) {
						localStorage.setItem('current_user', k);//记录当前用户编号		
					}
				}
				if(output=="Z4YAZWRB") {
					var _Z4YAZWRB = time;
					localStorage.setItem('_Z4YAZWRB_parameter', _Z4YAZWRB);
				}
				else if(output=="537TT03OT") {
					var _537TT03OT = time;
					localStorage.setItem('_537TT03OT_parameter', _537TT03OT);
				}
				else if(output=="5VM42727") {
					var _5VM42727 = time;
					localStorage.setItem('5VM42727_parameter', _5VM42727);
				}
				else if(output=="5VM452F4") {
					var _5VM452F4 = time;
					localStorage.setItem('_5VM452F4_parameter', _5VM452F4);
				}
				else if(output=="5VMTSDK5") {
					var _5VMTSDK5 = time;
					localStorage.setItem('_5VMTSDK5_parameter', _5VMTSDK5);
				}    	            
			}
			if(datasource=="KDDcup")  {
				for(m=0;m<20;m++)  {
					if(output==attack[m]) {
						localStorage.setItem('current_attack', m+1);//记录当前用户编号		
					}
				}
				if(output=="normal.") {
					var normal = time;
					localStorage.setItem('normal_parameter', normal);
				}
				if(output=="smurf.") {
					var smurf = time;
					localStorage.setItem('smurf_parameter', smurf);
				}
				if(output=="ipsweep.") {
					var ipsweep = time;
					localStorage.setItem('ipsweep_parameter', ipsweep);
				}
				if(output=="neptune") {
					var neptune = time;
					localStorage.setItem('neptune_parameter', neptune);
				}
				if(output=="nmap") {
					var nmap = time; 
					localStorage.setItem('nmap_parameter', nmap);
				}          	           
			}
			
		}
	}
	function onkey(event) {
		if (event.keyCode == 13) {
			send();
		}
	}

	function load_guard(){
		$.getJSON("/load_guard/", function (ret) {
			if (ret.guard.length == 0) 
				return;
			$('#guard_list').empty();
			var ul_str = '';
			for (var i = 0; i < ret.guard.length; i++) {
				ul_str += ('<li> <a href="/main_guard/?model=' + ret.guard[i] + '">' + ret.guard[i] +'</a></li>');
			};
			$('#guard_list').append(ul_str);
		});
	}
	//光束发射界面存储5个主要用户数据,后面放到connect()里面执行
	// var _Z4YAZWRB = 0.1;
	// var _537TT03OT = 0.2;
	// var Z4YAZWRB = 0.3;
	// var _5VM452F4 = 0.4;
	// var _5VMTSDK5 = 0.5; 
	// localStorage.setItem('_Z4YAZWRB_parameter', _Z4YAZWRB);
	// localStorage.setItem('_537TT03OT_parameter', _537TT03OT);
	// localStorage.setItem('Z4YAZWRB_parameter', Z4YAZWRB);
	// localStorage.setItem('_5VM452F4_parameter', _5VM452F4);
	// localStorage.setItem('_5VMTSDK5_parameter', _5VMTSDK5);

	//光束发射界面存储5个主要攻击类型数据,后面放到connect()里面执行
	// var ipsweep = 1;
	// var smurf = 2;
	// var neptune = 3;
	// var nmap = 4;
	// var normal = 5; 
	// localStorage.setItem('ipsweep_parameter', ipsweep);
	// localStorage.setItem('smurf_parameter', smurf);
	// localStorage.setItem('neptune_parameter', neptune);
	// localStorage.setItem('nmap_parameter', nmap);
	// localStorage.setItem('normal_parameter', normal);
</script>

<body onload="connect();load_guard();" style="margin: 0; overflow: hidden; width: 100%; height: 100%;">
	<div style="width: 100%; height: 100%;" id="canvasbox">
	</div>

	<div style="position: absolute; top: 0px; left: 10px; z-index: 1">
			
		<p>
			<a href="{% url 'main' %}" style="z-index:0;font-size:1vw;">无监督实时</a>
		</p>
		<p>
			<a href="{% url 'main_guard' %}" style="z-index:0;font-size:1vw;text-decoration:underline;">有监督实时</a>
		</p>
		<p>
			<a href="{% url 'lstm' %}" style="z-index:0;font-size:1vw;">无监督历史</a>
		</p>
		<p>
			<a href="{% url 'lstm_guard' %}" style="z-index:0;font-size:1vw;">有监督历史</a>
		</p>
		<p>
			<a href="{% url 'relation' %}" style="z-index:0;font-size:1vw;">关联分析历史</a>
		</p>
		<p>
			<a href="{% url 'add_model' %}" style="z-index:0;font-size:1vw;">模型配置</a>
		</p>
		<p>
			<a href="{% url 'history' %}" style="z-index:0;font-size:1vw;">历史数据</a>
		</p>
		<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					选择模型
					<span class="caret"></span>
				</button>
				<ul id="guard_list" class="dropdown-menu">
	
				</ul>
			</div>
	</div>

	<div style="position: absolute; display: table; right:10px; top: 10px; font-size: 20px; z-index: 1;">
		<div id="realtime_lstm_guard" style="height: 300px; width: 300px;z-index:2;"></div>
	</div>

	<script src="../static/js/galaxy2.js"></script>
	<script src="../static/js/realtime2.js"></script>
</body>

</html>