<!DOCTYPE html>
<html style="width: 100%; height: 100%; z-index:1;">

<head>
	<meta charset="utf-8">
	<title>无监督实时页面</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.common.min.js"></script>
	<script src="../static/js/three.min.js"></script>
	<script src="../static/js/CanvasRenderer.js"></script>
	<script src="../static/js/Detector.js"></script>
	<script src="../static/js/stats.min.js"></script>
	<script src="../static/js/OrbitControls.min.js"></script>
</head>
<script>		
	$(document).ready(function(){
		$.getJSON('/thresold/', function (ret) {
		var maxthresold = ret[0];
		var minthresold = ret[1];
		//var max_discrete = ret[2][0][0];
		var relation_pp1_people = ret[2][0][0];
		var relation_pp1_day = ret[2][0][1];
		var relation_pp2_people = ret[2][1][0];
		var relation_pp2_day = ret[2][1][1];
		var relation_pp3_people = ret[2][2][0];
		var relation_pp3_day = ret[2][2][1];
		var relation_pp4_people = ret[2][3][0];
		var relation_pp4_day = ret[2][3][1];
		var relation_pp5_people = ret[2][4][0];
		var relation_pp5_day = ret[2][4][1];

		var relationratio_OO1_exe = ret[3][0][0];
		var relationratio_OO1_ratio = ret[3][0][1];
		var relationratio_OO2_exe = ret[3][1][0];
		var relationratio_OO2_ratio = ret[3][1][1];
		var relationratio_OO3_exe = ret[3][2][0];
		var relationratio_OO3_ratio = ret[3][2][1];
		var relationratio_OO4_exe = ret[3][3][0];
		var relationratio_OO4_ratio = ret[3][3][1];
		var relationratio_OO5_exe = ret[3][4][0];
		var relationratio_OO5_ratio = ret[3][4][1];
		//console.log(relationratio_OO1_exe,relationratio_OO1_ratio);
		var relationratio_Z4YAZWRB = ret[4];
		var relationratio_537TT03OT = ret[5];
		var relationratio_5VM42727 = ret[6];
		var relationratio_5VM452F4 = ret[7];
		var relationratio_5VMTSDK5 = ret[8];				

		localStorage.setItem('max_thresold', maxthresold);
		localStorage.setItem('min_thresold', minthresold);		
		localStorage.setItem('operation_to_operation1_exe', relationratio_OO1_exe);
		localStorage.setItem('operation_to_operation1_ratio', relationratio_OO1_ratio);
		localStorage.setItem('operation_to_operation2_exe', relationratio_OO2_exe);
		localStorage.setItem('operation_to_operation2_ratio', relationratio_OO2_ratio);
		localStorage.setItem('operation_to_operation3_exe', relationratio_OO3_exe);
		localStorage.setItem('operation_to_operation3_ratio', relationratio_OO3_ratio);
		localStorage.setItem('operation_to_operation4_exe', relationratio_OO4_exe);
		localStorage.setItem('operation_to_operation4_ratio', relationratio_OO4_ratio);
		localStorage.setItem('operation_to_operation5_exe', relationratio_OO5_exe);
		localStorage.setItem('operation_to_operation5_ratio', relationratio_OO5_ratio);

		localStorage.setItem('people_to_people1_people', relation_pp1_people);
		localStorage.setItem('people_to_people1_day', relation_pp1_day);
		localStorage.setItem('people_to_people2_people', relation_pp2_people);
		localStorage.setItem('people_to_people2_day', relation_pp2_day);
		localStorage.setItem('people_to_people3_people', relation_pp3_people);
		localStorage.setItem('people_to_people3_day', relation_pp3_day);
		localStorage.setItem('people_to_people4_people', relation_pp4_people);
		localStorage.setItem('people_to_people4_day', relation_pp4_day);
		localStorage.setItem('people_to_people5_people', relation_pp5_people);
		localStorage.setItem('people_to_people5_day', relation_pp5_day);

		localStorage.setItem('person_to_operation_Z4YAZWRB', relationratio_Z4YAZWRB);
		localStorage.setItem('person_to_operation_537TT03OT', relationratio_537TT03OT);
		localStorage.setItem('person_to_operation_5VM42727', relationratio_5VM42727);
		localStorage.setItem('person_to_operation_5VM452F4', relationratio_5VM452F4);
		localStorage.setItem('person_to_operation_5VMTSDK5', relationratio_5VMTSDK5);
})
	});
</script>
<script>	
	var socket;
	var host;
	var a = new Array(), b, i = 0;
	var low_threshold = 1, high_threshold = 9;//记录上下阈值，后期由传过来的数据决定
	var abnormal_count = 0, ratio = 0;//记录异常记录数目
	
		
	function connect() {
		var host = "ws://192.168.1.44:3368/ws";
		socket = new WebSocket(host);
		obj = {
			'algorithm' : 'start',
			'type': 'NOGUARD',
			'model_name': ''
		}
		try {
			socket.onopen = function (msg) {	
				socket.send(JSON.stringify(obj));
			};
			socket.onmessage = function (msg) {
				if (typeof msg.data == "string") {
					displayContent(msg.data);
					//i++;
				}
			};
			socket.onclose = function (msg) {

			};
		}
		catch (ex) {
			log(ex);
		}
	}

	window.onbeforeunload = function () {
		try {
			socket.close();
			socket = null;
		}
		catch (ex) {

		}
	};

	function displayContent(msg) {
		a.push(msg);
		b = a.pop();
		console.log(b);
		var obj = JSON.parse(b);
		var data = obj.data;
		var type = obj.type;
		var description = obj.description;
		if(type=="noguard_realtime") {
			i++;
			var act = obj.data.act_time;
			var flag = obj.data.abnormal;
			var lstm = obj.data.prediction;
			var detail = obj.data.item;
			var agent = obj.description.agent_id;
			var modeltype = obj.description.model_type;//lstm模型名
			
			localStorage.setItem('acttime', act);
		    localStorage.setItem('lstmvalue', lstm);
			localStorage.setItem('details', detail);
			localStorage.setItem('descriptions', agent);
			localStorage.setItem('number', i);//数据编号
			
			if(modeltype=="single")  {//lstm个体模型				
				var single_abnormalrate = obj.data.abnormal_rate;
				localStorage.setItem('agent_id',agent);
				localStorage.setItem('single_abnormal_rate',single_abnormalrate);
				//console.log(single_abnormalrate);
			}
			if(modeltype=="all")  {//lstm整体模型
				var all_abnormalrate = obj.data.abnormal_rate;
				localStorage.setItem('all_abnormal_rate',all_abnormalrate);
				//console.log(all_abnormalrate);
			}
		}
	}
	function onkey(event) {
		if (event.keyCode == 13) {
			send();
		}
	}
</script>

<body onload="connect()" style="margin: 0; overflow: hidden; width: 100%; height: 100%; z-index:1;">
	<div style="width: 100%; height: 100%; z-index:1;" id="canvasbox">
	</div>
	<div style="position: absolute; top: 0px; left: 10px;"> 
		<p>
			<a href="{% url 'main' %}" style="z-index:0;font-size:1vw;text-decoration:underline;">无监督实时</a>
		</p>
		<p>
			<a href="{% url 'main_guard' %}" style="z-index:0;font-size:1vw;">有监督实时</a>
		</p>
		<p>
			<a href="{% url 'lstm' %}" style="z-index:0;font-size:1vw;">无监督历史</a>
		</p>
		<p>
			<a href="{% url 'lstm_guard' %}" style="z-index:0;font-size:1vw;">有监督历史</a>
		</p>
		<p>
			<a href="{% url 'relation' %}" style="z-index:0;font-size:1vw;">关联分析历史</a>
		</p>
		<p>
			<a href="{% url 'add_model' %}" style="z-index:0;font-size:1vw;">模型配置</a>
		</p>
		<p>
			<a href="{% url 'history' %}" style="z-index:0;font-size:1vw;">历史数据</a>
		</p>
	</div>
    <!-- <div id="cover_single" ondblclick="left_dblclick1();" style="position: absolute; height: 20%; width: 10%; left: 0; top: 20%; z-index: 2;"></div>
	<iframe id="frame_single" src="{% url 'lstm' %}" frameborder='no' style="position: absolute; height: 20%; width: 10%; left: 0; top: 20%; z-index: 1;"></iframe>
	<iframe id="frame_taiyangxi2" src="{% url 'galaxy' %}" frameborder='no' style="position: absolute; height: 20%; width: 10%; left: 0; top: 20%; z-index: 0;"></iframe>

	<div id="cover_lstm" ondblclick="left_dblclick2();" style="position: absolute; height: 20%; width: 10%; left: 0; top: 45%; z-index: 2;"></div>
	<iframe id="frame_lstm" src="{% url 'lstm_guard' %}" frameborder='no' style="position: absolute; height: 20%; width: 10%; left: 0; top: 45%; z-index: 1;"></iframe>
	<iframe id="frame_taiyangxi3" src="{% url 'galaxy' %}" frameborder='no' style="position: absolute; height: 20%; width: 10%; left: 0; top:45%; z-index: 0;"></iframe>

	<div id="cover_relation" ondblclick="left_dblclick3();" style="position: absolute; height: 20%; width: 10%; left: 0; top: 70%; z-index: 2;"></div>
	<iframe id="frame_relation" src="{% url 'relation' %}" frameborder='no' style="position: absolute; height: 20%; width: 10%; left: 0; top: 70%; z-index:1;"></iframe>
	<iframe id="frame_taiyangxi" src="{% url 'galaxy' %}" frameborder='no' style="position: absolute; height: 20%; width: 10%; left: 0; top: 70%; z-index:0;"></iframe> -->

	<div style="position: absolute; display: table; right:10px; top: 10px; font-size: 20px; z-index: 1;">
		<div id="realtime" style="height: 300px; width: 300px;z-index:2;"></div>
	</div>

	<!-- <script>
		var flag_right = true;
		var flag_left = true;
		function left_dblclick1() {
			var con2 = document.getElementById('cover_single');
			var con3 = document.getElementById('frame_single');
			if (flag_right) {
				flag_right = false;
				con2.style.width = con3.style.width = '60%';
				con2.style.height = con3.style.height = '100%';
				con2.style.right = con3.style.left = '20%';
				con2.style.top = con3.style.top = '0%';
				con3.src = "{% url 'lstm' %}";
			} else {
				flag_right = true;
				con2.style.width = con3.style.width = '10%';
				con2.style.height = con3.style.height = '20%';
				con2.style.right = con3.style.left = '0%';
				con2.style.top = con3.style.top = '20%';
				con3.src = "{% url 'lstm' %}";
			}
		}
		function left_dblclick2() {
			var con2 = document.getElementById('cover_lstm');
			var con3 = document.getElementById('frame_lstm');
			if (flag_right) {
				flag_right = false;
				con2.style.width = con3.style.width = '60%';
				con2.style.height = con3.style.height = '100%';
				con2.style.right = con3.style.left = '20%';
				con2.style.top = con3.style.top = '0%';
				con3.src = "{% url 'lstm_guard' %}";
			} else {
				flag_right = true;
				con2.style.width = con3.style.width = '10%';
				con2.style.height = con3.style.height = '20%';
				con2.style.right = con3.style.left = '0%';
				con2.style.top = con3.style.top = '45%';
				con3.src = "{% url 'lstm_guard' %}";
			}
		}
		function left_dblclick3() {
			var con2 = document.getElementById('cover_relation');
			var con3 = document.getElementById('frame_relation');
			if (flag_left) {
				flag_left = false;
				con2.style.width = con3.style.width = '60%';
				con2.style.height = con3.style.height = '100%';
				con2.style.left = con3.style.left = '20%';
				con2.style.top = con3.style.top = '0%';
				con3.src = "{% url 'relation' %}";
			} else {
				flag_left = true;
				con2.style.width = con3.style.width = '10%';
				con2.style.height = con3.style.height = '20%';
				con2.style.left = con3.style.left = '0%';
				con2.style.top = con3.style.top = '70%';
				con3.src = "{% url 'relation' %}";
			}
		}
	</script> -->

	<script src="../static/js/galaxy.js"></script>
	<script src="../static/js/realtime1.js"></script>
</body>

</html>