<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link href="../static/css/index.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
	 crossorigin="anonymous">
	</script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.common.min.js"></script>
	<script src="../static/js/three.min.js"></script>
	<script src="../static/js/CanvasRenderer.js"></script>
	<script src="../static/js/Detector.js"></script>
	<script src="../static/js/stats.min.js"></script>
	<script src="../static/js/OrbitControls.min.js"></script>
</head>
<script>
	var socket;
	var host;
	var a = new Array(), b, i = 0;
	var low_threshold = 1, high_threshold = 9;//记录上下阈值，后期由传过来的数据决定
	var abnormal_count = 0, ratio = 0;//记录异常记录数目
	function connect() {
		var host = "ws://222.20.76.225:3368/";
		socket = new WebSocket(host);
		try {
			socket.onopen = function (msg) {	
				socket.send("start");
			};
			socket.onmessage = function (msg) {
				if (typeof msg.data == "string") {
					//displayContent(msg.data);
					i++;
				}
			};
			socket.onclose = function (msg) {

			};
		}
		catch (ex) {
			log(ex);
		}
	}

	window.onbeforeunload = function () {
		try {
			socket.close();
			socket = null;
		}
		catch (ex) {

		}
	};

	function $(id) { return document.getElementById(id); }

	//缩小版不需执行此函数
	function displayContent(msg) {
		a.push(msg);
		b = a.pop();//lstm预测值
		if (b < low_threshold || b > high_threshold) abnormal_count++;
		ratio = abnormal_count / i;
		//var strs= new Array(); //定义一数组
		//strs=b.split("."); //字符分割 
		console.log(ratio);
		console.log(b);
		localStorage.setItem('lstm', b);
		localStorage.setItem('number', i);//数据编号
		localStorage.setItem('abnormal_ratio', ratio);
	}
	function onkey(event) {
		if (event.keyCode == 13) {
			send();
		}
	}
</script>

<body onload="connect()">
	<div class="canvasbox" id="canvasbox">
	</div>

	<script src="../static/js/taiyangxi.js"></script>
</body>

</html>